In [1]:
import pandas as pd
import numpy as np

In [53]:
# data_dir = './horses/'
# horses_df = pd.read_csv(data_dir + 'horses.csv',
#                         usecols=['age', 'sex_id', 'prize_money'])
# horse_sexes_df = pd.read_csv(data_dir + 'horse_sexes.csv').set_index('id')
# riders_df = pd.read_csv(data_dir + 'riders.csv').set_index('id')

In [182]:
# Dataset Source: https://www.kaggle.com/gunner38/horseracing
tips_df = pd.read_csv('horse_tips.csv', encoding='latin1')
tips_df['Bet Type'] = tips_df['Bet Type'].apply(lambda x : 1 if x == 'Win' else 0)
tips_df['Result'] = tips_df['Result'].apply(lambda x : 1 if x == 'Win' else 0)

horses = np.sort(tips_df['Horse'].unique())
tracks = np.sort(tips_df['Track'].unique())

tips_df['Horse'] = tips_df['Horse'].apply(lambda x : np.where(horses == x)[0][0])
tips_df['Track'] = tips_df['Track'].apply(lambda x : np.where(tracks == x)[0][0])

In [97]:
tipsters = tips_df['Tipster'].unique()

In [151]:
success_rates = dict()
for tipster in tipsters:
    successes = tips_df[(tips_df['Tipster'] == tipster) & (tips_df['Bet Type'] == tips_df['Result'])].shape[0]
    total = tips_df[(tips_df['Tipster'] == tipster)].shape[0]
    success_rates[tipster] = successes/total
successes_df = pd.DataFrame(pd.Series(success_rates), columns=['Success Rate']).sort_values(by='Success Rate', ascending=False)
successes_df.head(5)

           Success Rate
Tipster G      0.672414
Tipster C      0.616226
Tipster F      0.520548
Tipster M      0.520376
Tipster N      0.496386

In [149]:
X_G = tips_df[tips_df.Tipster=='Tipster G']
X_C = tips_df[tips_df.Tipster=='Tipster C']
X_F = tips_df[tips_df.Tipster=='Tipster F']
X_M = tips_df[tips_df.Tipster=='Tipster M']
X_N = tips_df[tips_df.Tipster=='Tipster N']

In [150]:
print([X_G.shape[0], X_C.shape[0], X_F.shape[0], X_M.shape[0], X_N.shape[0]])

[290, 1738, 146, 957, 415]

We model the online learning algorithm as follows.

In each round, we are given a betting scheme from each tipster. We model the quality function (the return) using OLS on the features. The true return is computed as if a single dollar were bet in any scheme from the odds and the true result.

In [183]:
tips_df

,UID,ID,Tipster,Date,Track,Horse,Bet Type,Odds,Result,TipsterActive
0,1,1,Tipster A,24/07/2015,2,5158,1,8.00,0,True
1,2,2,Tipster A,24/07/2015,96,13108,1,4.50,0,True
2,3,3,Tipster A,24/07/2015,114,13411,1,7.00,0,True
3,4,4,Tipster A,24/07/2015,74,8976,1,5.00,0,True
4,5,5,Tipster A,25/07/2015,2,10554,1,4.33,1,True
5,6,6,Tipster A,25/07/2015,114,327,1,6.00,0,True
6,7,7,Tipster A,25/07/2015,73,9791,1,6.00,0,True
7,8,8,Tipster A,25/07/2015,62,2019,1,6.00,0,True
8,9,9,Tipster A,26/07/2015,12,12101,1,5.50,0,True
9,10,10,Tipster A,26/07/2015,80,115,1,2.00,0,True
10,11,11,Tipster A,26/07/2015,104,8878,0,10.00,0,True
11,12,12,Tipster A,01/08/2015,96,5508,1,8.00,0,True
12,13,13,Tipster A,01/08/2015,47,4484,1,6.00,0,True
13,14,14,Tipster A,02/08/2015,18,6602,1,6.00,0,True
14,15,15,Tipster A,04/08/2015,85,15390,1,3.25,1,True
15,16,16,Tipster A,04/08/2015,14,7851,1,2.75,0,True
16,17,17,Tipster A,04/08/2015,16,1554,1,3.50,0,True
17,18,18,Tipster A,05/08/2015,11,12537,1,3.25,0,True
18,19,19,Tipster A,05/08/2015,73,10307,1,3.25,0,True
19,20,20,Tipster A,06/08/2015,111,6326,0,11.00,0,True
20,21,21,Tipster A,14/08/2015,74,3358,1,1.80,0,True
21,22,22,Tipster A,15/08/2015,72,15487,1,4.00,0,True
22,23,23,Tipster A,15/08/2015,72,2269,0,7.50,0,True
23,24,24,Tipster A,15/08/2015,72,304,1,4.50,1,True
24,25,25,Tipster A,15/08/2015,66,14466,1,3.25,0,True
25,26,26,Tipster A,16/08/2015,102,10427,0,8.00,0,True
26,27,27,Tipster A,16/08/2015,102,6517,1,2.50,0,True
27,28,28,Tipster A,18/08/2015,59,4285,1,11.00,1,True
28,29,29,Tipster A,18/08/2015,16,5607,0,11.00,1,True
29,30,30,Tipster A,18/08/2015,16,14522,1,3.25,0,True
...,...,...,...,...,...,...,...,...,...,...
38218,38219,580,Tipster E1,30/01/2016,26,7209,1,3.00,0,False
38219,38220,581,Tipster E1,03/02/2016,73,14716,0,34.00,0,False
38220,38221,582,Tipster E1,10/02/2016,12,14716,0,15.00,0,False
38221,38222,583,Tipster E1,13/02/2016,111,1384,0,13.00,1,False
38222,38223,584,Tipster E1,14/02/2016,92,4982,1,4.50,0,False
38223,38224,585,Tipster E1,25/02/2016,47,13367,0,11.00,0,False
38224,38225,586,Tipster E1,13/03/2016,106,2723,1,5.50,0,False
38225,38226,587,Tipster E1,13/03/2016,53,8120,0,21.00,0,False
38226,38227,588,Tipster E1,15/03/2016,17,480,1,5.00,1,False
38227,38228,589,Tipster E1,15/03/2016,17,2365,0,26.00,0,False
38228,38229,590,Tipster E1,15/03/2016,17,9238,0,67.00,0,False
38229,38230,591,Tipster E1,17/03/2016,17,1722,1,6.50,1,False
38230,38231,592,Tipster E1,17/03/2016,16,2133,1,6.50,0,False
38231,38232,593,Tipster E1,18/03/2016,17,3129,0,17.00,0,False
38232,38233,594,Tipster E1,18/03/2016,17,8066,1,8.00,0,False
38233,38234,595,Tipster E1,18/03/2016,17,11674,0,11.00,1,False
38234,38235,596,Tipster E1,19/03/2016,54,8847,0,11.00,1,False
38235,38236,597,Tipster E1,20/03/2016,12,9366,1,5.00,0,False
38236,38237,598,Tipster E1,26/03/2016,67,1628,1,7.50,0,False
38237,38238,599,Tipster E1,28/03/2016,35,11945,0,29.00,0,False
38238,38239,600,Tipster E1,30/03/2016,92,1436,1,5.00,0,False
38239,38240,601,Tipster E1,30/03/2016,92,6295,1,6.00,0,False
38240,38241,602,Tipster E1,30/03/2016,34,407,1,4.33,0,False
38241,38242,603,Tipster E1,01/04/2016,107,14141,1,4.50,0,False
38242,38243,604,Tipster E1,01/04/2016,111,5905,1,10.00,0,False
38243,38244,605,Tipster E1,02/04/2016,54,12946,1,7.00,0,False
38244,38245,606,Tipster E1,02/04/2016,26,4591,0,12.00,0,False
38245,38246,607,Tipster E1,02/04/2016,26,6824,1,7.00,0,False
38246,38247,608,Tipster E1,02/04/2016,53,7068,1,4.33,0,False
38247,38248,609,Tipster E1,31/05/2016,82,4015,1,5.00,0,False